<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%- conf.siteName -%></a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <div class="navbar-right navbar-form">
          <% if (notifications.length) { %>
            <span id="notifications" class="notifications">
            <% if (notifications.indexOf('welcome-newuser') !== -1) { %>
              Registration successful. Welcome!
            <% } else if (notifications.indexOf('welcome-back') !== -1) { %>
              Welcome back!
            <% } %>
            </span>
          <% } %>
          <% if (signedIn) { %>
            <span id="userNameNav"><span class="fa fa-user"></span> <%- userName -%>
            <% if (method != 'local') { %>
            <span class="fa fa-<%- method -%> <%-method -%>-small social-small"></span>
            <% } %>
            </span>
            <form action="/signout" method="post" id="signoutForm">
            <input class="btn btn-default" id="signoutButton" type="submit" value="Sign out">
            </form>
          <% } else { %>
            <a class="btn btn-primary" data-remote="false" data-target="#signinModal" data-toggle="modal" href="/signin" id="signinButton">Sign in</a>
            <a class="btn btn-default" data-remote="false" data-toggle="modal" data-target="#registerModal" href="/register" id="registerButton" role="button">Register</a>
          <% } %>
        </p>
      </div>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
<%- include('signin-dialog', {modal: true, signinMessages: []}); %>
<%- include('register-dialog', {modal: true, registerMessages: []}); %>
