<div class="container">
  <hr>
  <footer>
    <p>freeyourstuff.cc is an
      <a href="https://github.com/eloquence/freeyourstuff.cc">open community project</a>. It was made with
      <span class="fa fa-heart" style="color:red;"></span>
      by
      <a href="https://twitter.com/xirzon">Erik Moeller</a>.</p>
    <p>
      <small>
        Privacy: If you give us your email, we won't spam you or give it to others. We use cookies for logins, and we keep ordinary server logs. No tracking, no ads, and the code is open.
      </small>
    </p>
  </footer>
</div>
<!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="<%- jsFile('main') -%>"></script>
<script type="text/javascript">
  // Expose config variables
  window.config = <%- JSON.stringify(conf) -%>;

  // Expose user ID
  const fysUserID = <%- typeof user !== 'undefined' && user ? JSON.stringify(user._id) : 'null' -%>;
  // Expose UI config
  const fysShowModerationControls = <%- user ? JSON.stringify(user.canModerate()) : false -%>;
</script>
<% if (typeof load !== 'undefined') { %>
    <% if (load.siteSets) { %>
        <script type="text/javascript">
            window.siteSets = <%- JSON.stringify(siteSets) -%>;
        </script>
        <script src="<%- jsFile('datatables') -%>"></script>
        <script src="<%- jsFile('view-sitesets', true) -%>"></script>
    <% } %>
    <% if (load.uploads) { %>
      <script type="text/javascript">
          window.uploads = <%- JSON.stringify(uploads) -%>;
          window.siteSetSchemas = <%- JSON.stringify(siteSetSchemas) -%>;
      </script>
      <script src="<%- jsFile('datatables') -%>"></script>
      <script src="<%- jsFile('view-uploads', true) -%>"></script>
    <% } %>
<% } %></body>
</html>
