<%- include('head', {siteSection: 'Welcome', load: { dataTables: true } }); -%>
<%- include('nav'); %>
<div class="container">
<br>
<% if (siteSetUser) { %>
Data for <%- siteSetUser.getLink() -%>:

<pre>
<%- JSON.stringify(siteSets) -%>
</pre>

<% } else { %>
We don't know a user with this name.
<% } %>

</div>
<%- include('tail', { load: { modalSigninScript: true, formValidation: true, checkNames: true, dataTables: true} } ); -%>
