<%- include('head', {siteSection: 'Welcome', load: {} }); -%>
<%- include('nav'); %>
<div class="container">
<br>

<% if (siteSetUser) { %>
  <% if (!user || !user._id.equals(siteSetUser._id)) { %>

  <h2>Published datasets by <%- siteSetUser.getLink() -%>:</h2>

  <% } else { %>

  <h2>Your published datasets:</h2>

  <% } %>

  <% if (!siteSetCount) { %>
    <% if (!user || !user._id.equals(siteSetUser._id)) { %>
      This user has not published any data using
      <%- conf.siteName -%> yet. <span class="fa fa-frown-o"></span>
    <% } else { %>
      It looks like you have not published any data using <%- conf.siteName -%> yet.
      <a href="<%- conf.baseURL -%>">Download the browser extension</a> to get
      started.
    <% } %>
  <% } else { %>
    <% for (var siteSetFamily in siteSets) { %>
      <% if (!siteSets[siteSetFamily].length) continue; %>
      <h3><%- SiteSet[siteSetFamily].siteSetSchema.schema.label.en -%></h3>
        <ul>
        <% for (var siteSet of siteSets[siteSetFamily]) { %>
          <li> <a href="<%- conf.baseURL + 'view/' + siteSetFamily + '/' + siteSet._id -%>">
            Upload from <%- siteSet.uploadDate.toLocaleString() -%></a>
        <% } %>
      </ul>
    <% } %>
  <% } %>

<% } else { %>
We don't know a user with this ID.
<% } %>

</div>
<%- include('tail', { load: { modalSigninScript: true, formValidation: true, checkNames: true } } ); -%>
