<%- include('head', {siteSection: 'Welcome', load: {uploads: true} }); -%>
<%- include('nav'); %>
<div class="container">
<br>

<% if (siteSetUser) { %>
  <% if (!user || !user._id.equals(siteSetUser._id)) { %>

  <h2>Published datasets by <%- siteSetUser.getLink() -%>:</h2>

  <% } else { %>

  <h2>Your published datasets</h2>
  <p>Select any upload to see its contents.</p>

  <% } %>

  <% if (!uploads.length) { %>
    <% if (!user || !user._id.equals(siteSetUser._id)) { %>
      This user has not published any data using
      <%- conf.siteName -%> yet. <span class="fa fa-frown-o"></span>
    <% } else { %>
      It looks like you have not published any data using <%- conf.siteName -%> yet.
      <a href="<%- conf.baseURL -%>">Download the browser extension</a> to get
      started.
    <% } %>
  <% } else { %>
    <table id="uploads" class="table table-hover table-responsive"></table>
  <% } %>

<% } else { %>
We don't know a user with this ID.
<% } %>

</div>
<%- include('tail', { load: { uploads: true } } ); -%>
